.CheckOutItems{
    margin: 100px 0px;
}

.CheckOutItems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.CheckOutItems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 50px;
    padding: 20px 0px;
    color:#454545;
    font-size:18px;
    font-weight: 600;
}

.CheckOutItems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}

.CheckOutItems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor:pointer;
}

.CheckOutItems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.CheckOutItems-down{
    display: flex;
    margin: 100px 0px;
}

.CheckOutItems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.CheckOutItems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.CheckOutItems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.CheckOutItems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight:500;
}

.CheckOutItems-promocode p{
    color: #555;
}

.CheckOutItems-promobox{
    width:400px;
    margin-top: 15px;
    padding-left: 0px;
    height: 58px;
    background: #eaeaea;

}

.CheckOutItems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.CheckOutItems-promobox button{
    width: 170px;
    height: 58px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}