/* ResetPassword.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .contact-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .contact-us-box {
    background-color: #d6d3d1; /* Light gray background */
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 370px; /* Slightly wider */
    height: 450px;
  }
  
  .contact-us-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .contact-us-text {
    font-size: 14px;
    color: #6b7280; /* Grayish text */
    margin-bottom: 40px;
  }
  
  .input-field {
    width: calc(100% - 24px);
    padding: 14px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .contact-button {
    width: calc(100% - 24px);
    padding: 14px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  .contact-button:hover {
    opacity: 0.9;
  }
  
  .map-container {
    margin-top: -80px;
    text-align: center;
    margin-left: 100px;
    width: 50%;
  }
  
  .map-frame {
    width: 100%;
    max-width: 800px;
    height: 580px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
  }
  