.popular{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
  }
  
  .favorite-btn img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
  }
  
  .favorite-btn.favorited img {
    transform: scale(1.1); /* Slight zoom effect */
  }
  